<h3>Add a reward for <%= @project.title %></h3>

<div class="form">
  <%= form_for [@project, @reward] do |f| %>
    <div>
      <%= f.label :dollar_amount %>
      <%= f.number_field :dollar_amount, step: 0.01 %>
    </div>
    <br> <br>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <br><br>
    <div>
      <%= f.label :max_claims, "Maximum Available" %>
      <%= f.number_field :max_claims %>
      <span>optional: If blank, no limit on claims is set</span>
    </div>
    <br><br>
    <%= f.submit %>
  <% end %>
</div>
<br> <br> <br> <br> <br> <br> <br>
